<nav>
    <a href="">
        <img class="profile" src="/assets/profile-user.png">
    </a>
    <a href="/">
        <img src="/assets/60149-home.svg"
    </a>
    <a href="">
        <img src="/assets/61046-plane.svg">
    </a>
    <a href="/login" class="logout">
        <img src="/assets/60133-sign-out.svg">
    </a>
</nav>