<%- include('./partials/head') %>
</head>
<body>
    <h1>Login</h1>
    <% if (typeof message !== 'undefined') { %>
        <p><%= message %></p>
    <% } %>
    <form action="/login" method="POST">
        <div>
            <label for="username">Gebruiker:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Wachtwoord:</label>
            <input type="password" id="password" name="password">
        </div>
        <button class="button-primary" type="submit">Login <img src="/assets/60027-arrow-right.svg"></button>
    </form>
</body>
</html>
