<%- include('./partials/head') %>
<link href="/styles/vakanties.css" rel="stylesheet">
<script src="scripts/client.js" defer></script>
</head>
<body>
    <%- include('./partials/nav') %>
    <header>
        <img class="logo" src="/assets/anwb-logo.png">
        <h1>Vakanties deze maand:</h1>
    </header>
    <main>
        <div class="calendar">
            <div class="month">
                <ul>
                    <li class="prev">&#10094;</li>
                    <li class="next">&#10095;</li>
                    <li>
                        June<br>
                        <span style="font-size:18px">2024</span>
                    </li>
                </ul>
            </div>
            
            <ul class="weekdays">
                <li>Mo</li>
                <li>Tu</li>
                <li>We</li>
                <li>Th</li>
                <li>Fr</li>
                <li>Sa</li>
                <li>Su</li>
            </ul>
            
            <ul class="days">
                <% for (let day_nr = 1; day_nr <= 30; day_nr++) {
                    %>
                    <li class="day">
                        <p><%= day_nr %></p>
                        <%
                        vakantieData.data.forEach(({name, vacation_days}) => {
                            vacation_days.forEach((vacation_day) => {
                                const vacation_day_nr = Number(vacation_day.anwb_vacation_days_id.day.substring(8,10)) // get day number
                                if (vacation_day_nr === day_nr) {
                                    %>
                                    <p class="vacation"><%= name %></p>
                                    <%
                                }
                            })
                        })
                        %>
                    </li>
                    <%
                } %>
            </ul>
        </div>
    </main>
</body>