#calendar-wrapper {
    display: flex;
}

#roles {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;

    row-gap: 1rem;
}

.role-name {
    height: 4rem;
    display: flex;
    align-items: center;
    text-align: end;
    padding-right: 1rem;
}

#calendar {
    display: flex;

    column-gap: 1rem;

    border: 1px solid black;
    padding: 1rem;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.week {
    scroll-snap-align: center;
    scroll-snap-stop: always;

    display: grid;
    row-gap: 1rem;
    min-width: 100%;

    grid-template-columns: repeat(7, calc(100% / 7));
    grid-template-rows: 1rem repeat(5, 4rem);
}



.day {
    text-align: center;
}

.assignment {
    grid-column: 1 / 8;
    text-align: center;
    border: 1px solid black;
    border-radius: 1rem;
}

.add-assignment {
    grid-column: 1 / 8;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 1rem;
}

.add-assignment button {
    width: calc(50% / 7);
    height: 50%;
}

.role-1 {
    grid-row: 2 / 2;
}

.role-2 {
    grid-row: 3 / 3;
}

.role-3 {
    grid-row: 4 / 4;
}

.role-4 {
    grid-row: 5 / 5;
}

.role-5 {
    grid-row: 6 / 6;
}

.role-1 ~ .role-1 {
    display: none;
}

.role-2 ~ .role-2 {
    display: none;
}

.role-3 ~ .role-3 {
    display: none;
}

.role-4 ~ .role-4 {
    display: none;
}

.role-5 ~ .role-5 {
    display: none;
}

/* BRONNEN :
https://css-tricks.com/snippets/css/complete-guide-grid/#aa-grid-template-columnsgrid-template-rows
https://developer.mozilla.org/en-US/docs/Web/CSS/Next-sibling_combinator 
*/